.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chart-container{
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}
.chart-header-1 {
  text-align: center;
}
.chart-header-2{
  text-align: center;
}
.search-bar-div {
  grid-area: search;
  align-self: center;
}
.search-bar {
  border-radius: 50px;
  width: 90%;
  height: 48px;
  font-size: 14pt;
  padding: 2px 23px 2px 30px;
  background-color: whitesmoke;
}
.logo {
  height: 40px;
  padding: 15px;
  grid-area: logo;
  cursor: pointer;
}
.header {
  padding: 15px;
  display: grid;
  grid-template-columns: [first] 15px [line2] 1fr [line3] 7fr [line4] 1fr [line5] 1fr [line6] 15px [last];
  grid-template-areas:
  ". logo search sign-in cart ."
}
.view-cart {
  grid-area: cart;
  width: 35px;
  align-self: center;
  cursor: pointer;
}
.sign-in {
  grid-area: sign-in;
  align-self: center;
}
