@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

.search-bar{
    padding: 1em;
    width: 30em;
    margin: .5em;
    margin-left: 2em;
}
.name{
    margin: 1em;
}
.Navbar{
    display: flex;
    width: 100%;
    padding: 2em;
    background-color: white;
}

.login{
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: #d4e8d7;
    padding-bottom: 2em;
}

.options{
    display: flex;
    justify-content: space-around;
    margin-top: -1em;
}

#rim{
    border-radius: 50%;
}



#addTitle{
    padding: .5em;
}
.items{
    display: inline-flex;
}
.item{
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
}
.drop{
    margin-top: .5em;
}

footer {
    background-color: #2f456c;
    color: whitesmoke;
    padding: 2em;
}
.chart-container{
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}
.chart-header-1 {
  text-align: center;
}
.chart-header-2{
  text-align: center;

}
#logo{
    display: flex;
    justify-content: flex-end;
    margin-right: 10em;
    margin-top: -2em;
}
.search-bar {
  border-radius: 35pt;
  background-color: whitesmoke;
}
.view-cart {
  width: 35px;
  cursor: pointer;
}
.main-logo {
  height: 40pt;
  cursor: pointer;
}
.chart-header-1 {
  text-align: center;
  padding-top: 30px;
}

.chart-header-2{
  text-align: center;
}
.add-item-header {
  text-align: center;
}
.add {
  width: 60%;
  background-color: whitesmoke;
  margin: auto;
}
.add input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.item-image {
  float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}
.cart-item {
  display: flex;
  gap: 10px;
}
